<h1>Users in the Database</h1>
<% @dogs.each do |u| %> <!-- Iterates through each user under the variable u -->
  <p> <%= u.name %> </p> <!-- Show the users name-->
  <p> <%= u.age %> </p> <!-- Show the users email -->
<% end %>
